<!DOCTYPE html>
<html>
    <head>
   </head>
    <style>

    </style>
    <body>
        <%- include('header')%>
        <!-- <h1> 😅 סליחה דף זה לא נמצא</h1> -->
        <a title=" 😅 סליחה דף זה לא נמצא" href="/">
            <img src="https://hugocalixto.com.br/wp-content/uploads/sites/22/2020/07/error-404-1.png"style="width:50%;" style="height:50%;">
        </a>
    </body>
    <script>

    </script>

</html>